/* TABLE */
table { 
    table-layout: fixed; 
    width: 50%;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 25%; 
    margin-right: 25%;
    justify-content: center; 
    border: 5px;
    border-radius: 10px;
}

table td { 
    width: 33.33%; 
    height: 80px; 
}

table td input[type="button"]{
    width: 100%; 
    height: 100%; 
    font-weight: bold;
    font-size: larger;
    border-radius: 20px;
    color: black;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3), 0 5px 10px 0 rgba(0,0,0,0.20);
}

table td input[type="text"] { 
    width: 100%; 
    height: 100%; 
    text-align: right;
    font-size: larger;
    font-weight: bold; 
    margin-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.3), 0 5px 10px 0 rgba(0,0,0,0.20); 
}

#operator {
    color: blue;
}

#delete {
    color: red;
}

#equal {
    color: green;
}

table td input[type="button"]:hover {
    background-color: #494C5C;
    color: red;
}

/* TITLE */
h1 {
    text-align: center;
    text-shadow: 1px 1px #558ABB;
    background-color: #F0F0F0;
    padding-top: 20px;
}

h6 {
    text-align: center;
    margin-right: 20%;
    margin-left: 40%;
    text-shadow: 0.5px 0.5px #558ABB;
    background-color: #F0F0F0;
}